.center-align{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.title-content{
height:100px;
display: block;
margin-top: -20px;
margin-bottom: -10px;
  h1{
    font-size: 5em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: rgb(30, 30, 30);
    text-shadow: 3pt 3px 4pt rgb(119, 119, 119);
    padding-top: 20px;
    margin-top:0px;
    }
}

.wrapped-content{
height: 180px;
display: block;
  h2{
     font-size: 3em;
     padding-top: 60px;
      color: rgb(40, 40, 40);
      text-shadow: 1pt 1px 1pt rgb(119, 119, 119);
  }
}



